@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10.2%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 10.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10.2%;
    --primary: 0 0% 10.2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 10.2%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 42%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 10.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 10.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
